/* compose_header section */
section.lincc_compose_header {
    min-height: 50px;
}

/* aside section */
.lincc_content aside {
    min-height: 300px;
}
.lincc_content aside button{
    font-size: 24px;
    border-radius: 0;
}
.lincc_content aside .btn-group:not(:first-child) button{
    border-left: 0;
}
.lincc_content aside .row:not(:first-child) button{
    border-top: 0;
}

#lincc_canvas {
    border:1px #ccc solid;
}