{% extends 'tables/table.base.html' %}


{% block title %}PLCConnections{% endblock %}


{% block tname %}PLCConnections{% endblock %}


{% block body %}
<div class="container" id="content">

  <div class="row">
    <table class="table table-condensed table-bordered" id="table">
      {% if db_columns %}
      <thead>
        <th>{{ db_columns.id        }}</th>
        <th>{{ db_columns.name      }}</th>
        <th>{{ db_columns.type      }}</th>
        <th>{{ db_columns.rack      }}</th>
        <th>{{ db_columns.slot      }}</th>
        <th>{{ db_columns.ip        }}</th>
        <th>{{ db_columns.conn_port }}</th>
        <th>{{ db_columns.desc      }}</th>
      </thead>
      {% endif %}
      {% if connections %}
      <tbody>
        {% for c in connections %}
        <tr>
          <td>{{ c.id        }}</td>
          <td>{{ c.name      }}</td>
          <td>{{ c.type      }}</td>
          <td>{{ c.rack      }}</td>
          <td>{{ c.slot      }}</td>
          <td>{{ c.ip        }}</td>
          <td>{{ c.conn_port }}</td>
          <td>{{ c.desc      }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>

  </div>
</div>
{% endblock %}


{#
  <div class="row" id="csv">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upload csv file</h3>
      </div>
      <div class="panel-body">
        <form action="form.php" method="POST" enctype="multipart/form-data">
          <!-- TODO: transform in js | input[type=hidden]@name echoato in maniera intelligente -->
          <input type="hidden" name="action" value="csv_upload" />
          <input type="hidden" name="table_name" value="<?=$def_table?>" />
          <div class="form-group">
            <label>File input
            <input type="file" name="csv_file"/>
            </label>
          </div>
          <div class="form-group">
            <label>Separator
              <input type="text" class="form-control" name="sep" placeholder="default: ,">
            </label>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="upload"/>
          </div>
        </form>
      </div>
    </div>
  </div>
#}
