{% extends 'tables/table.base.html' %}

{% block title %}varList{% endblock %}

{% block tname %}varList{% endblock %}

{% block body %}

<div class="container" id="content">

  <div class="row">
    <table class="table table-condensed table-bordered" id="table">
      {% if db_columns %}
      <thead>
        <th>{{ db_columns.name    }}</th>
        <th>{{ db_columns.type    }}</th>
        <th>{{ db_columns.plc_num }}</th>
        <th>{{ db_columns.access  }}</th>
        <th>{{ db_columns.db      }}</th>
        <th>{{ db_columns.byte    }}</th>
        <th>{{ db_columns.bit     }}</th>
        <th>{{ db_columns.r_val   }}</th>
        <th>{{ db_columns.w_val   }}</th>
        <th>{{ db_columns.w_flag  }}</th>
        <th>{{ db_columns.comment }}</th>
      </thead>
      {% endif %}
      {% if var_list %}
      <tbody>
        {% for entry in var_list %}
        <tr>
          <td>{{ entry.name    }}</td>
          <td>{{ entry.type    }}</td>
          <td>{{ entry.plc_num }}</td>
          <td>{{ entry.access  }}</td>
          <td>{{ entry.db      }}</td>
          <td>{{ entry.byte    }}</td>
          <td>{{ entry.bit     }}</td>
          <td>{{ entry.r_val   }}</td>
          <td>{{ entry.w_val   }}</td>
          <td>{{ entry.w_flag  }}</td>
          <td>{{ entry.comment }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>

  </div>
{% endblock %}

{#
  <div class="row" id="csv">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upload csv file</h3>
      </div>
      <div class="panel-body">
        <form action="form.php" method="POST" enctype="multipart/form-data">
          <!-- TODO: transform in js | input[type=hidden]@name echoato in maniera intelligente -->
          <input type="hidden" name="action" value="csv_upload" />
          <input type="hidden" name="table_name" value="<?=$def_table?>" />
          <div class="form-group">
            <label>File input
            <input type="file" name="csv_file"/>
            </label>
          </div>
          <div class="form-group">
            <label>Separator
              <input type="text" class="form-control" name="sep" placeholder="default: ,">
            </label>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="upload"/>
          </div>
        </form>
      </div>
    </div>
  </div>
#}
