{% extends 'base.html' %}

{#
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=".">linCC</a>
    </div><!-- /.navbar-header -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a>showing: <span class="table_name"><?=$def_table;?></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="load_csv_link">upload csv</a></li>
        <li class="dropdown" id="menu" >
          <a class="dropdown-toggle" data-toggle="dropdown">select table <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <!--?php foreach ($table_names as $name) : ?>
              <li><a><?=$name;?></a></li>
            <!--?php endforeach; ?-->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
#}
{% block body %}

<div class="container" id="content">

  <div class="row">
    <table class="table table-condensed table-bordered" id="table">
      {% if db_columns %}
      <thead>
        <th>{{ db_columns.name    }}</th>
        <th>{{ db_columns.type    }}</th>
        <th>{{ db_columns.plc_num }}</th>
        <th>{{ db_columns.access  }}</th>
        <th>{{ db_columns.db      }}</th>
        <th>{{ db_columns.byte    }}</th>
        <th>{{ db_columns.bit     }}</th>
        <th>{{ db_columns.r_val   }}</th>
        <th>{{ db_columns.w_val   }}</th>
        <th>{{ db_columns.w_flag  }}</th>
        <th>{{ db_columns.comment }}</th>
      </thead>
      {% endif %}
      {% if var_list %}
      <tbody>
        {% for entry in var_list %}
        <tr>
          <td>{{ entry.name    }}</td>
          <td>{{ entry.type    }}</td>
          <td>{{ entry.plc_num }}</td>
          <td>{{ entry.access  }}</td>
          <td>{{ entry.db      }}</td>
          <td>{{ entry.byte    }}</td>
          <td>{{ entry.bit     }}</td>
          <td>{{ entry.r_val   }}</td>
          <td>{{ entry.w_val   }}</td>
          <td>{{ entry.w_flag  }}</td>
          <td>{{ entry.comment }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>

  </div>



  {% load staticfiles %}
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- Highcharts JS
  ================================================== -->
  <!--script src="./lib/highcharts/js/highcharts.js"></script-->

  <!-- client script JS
  ================================================== -->
  <!--script src="{% static 'js/script.js' %}"></script-->
{% endblock %}

{#
  <div class="row" id="csv">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upload csv file</h3>
      </div>
      <div class="panel-body">
        <form action="form.php" method="POST" enctype="multipart/form-data">
          <!-- TODO: transform in js | input[type=hidden]@name echoato in maniera intelligente -->
          <input type="hidden" name="action" value="csv_upload" />
          <input type="hidden" name="table_name" value="<?=$def_table?>" />
          <div class="form-group">
            <label>File input
            <input type="file" name="csv_file"/>
            </label>
          </div>
          <div class="form-group">
            <label>Separator
              <input type="text" class="form-control" name="sep" placeholder="default: ,">
            </label>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="upload"/>
          </div>
        </form>
      </div>
    </div>
  </div>
#}
