{% extends "::base.html.twig" %}

{% block title %}LinCC compose{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='?uglifycss'
    '@LinCCComposeBundle/Resources/public/css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts filter='?uglifyjs'
    '@jquery'
    '@easeljs'
    '@LinCCComposeBundle/Resources/public/js/script.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}
  <div class="row">
    {% include 'LinCCComposeBundle:Compose:aside.html.twig' %}
    <div class="col-md-10">
      <canvas id="lincc_canvas" width="600" height="200"></canvas>
    </div>
  </div>
{% endblock %}
