{% extends "::base.html.twig" %}

{% block title %}LinCC compose{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='?uglifycss'
    '@LinCCComposeBundle/Resources/public/css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts filter='?uglifyjs'
    '@jquery'
    '@easeljs'
    '@LinCCComposeBundle/Resources/public/js/script.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}
  <section class="row lincc_compose_header">
    <div class="form-group form-inline">
      <label>Component name:
        <input type="text" class="form-control" placeholder="no name">
      </label>
    </div>
  </section>

  <div class="row">
    {% include 'LinCCComposeBundle:Compose:aside.html.twig' %}
    <div class="col-md-10">
      <canvas id="lincc_canvas" width="500" height="300"></canvas>
    </div>
  </div>
{% endblock %}
