{% extends "::base.html.twig" %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts '@LinCCMainPageBundle/Resources/public/js/*.js' filter='?uglifyjs' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@LinCCMainPageBundle/Resources/public/css/style.css' filter='?uglifycss' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block body %}
  <section ng-controller="PanelController as panel">
    {% include 'LinCCMainPageBundle:MainPage:navbar.html.twig' %}

    <div class="container">

      <div class="starter">
        <h1>Welcome to LinCC!</h1>
        <p class="lead" ng-show="panel.isSelected(1)">table</p>
        <p class="lead" ng-show="panel.isSelected(2)">other</p>
      </div>

    </div><!-- /.container -->
  </section>
{% endblock %}