<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="linCC web interface">
    <meta name="author" content="Walter Barbagallo; Mauro Ghedin">
    <title>{% block title %}LinCC{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
      {% stylesheets
        '@bootstrap'
        '%kernel.root_dir%/Resources/public/css/style.css'
        filter='?uglifycss' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}

  </head>
  <body>

    {% include '::navbar.html.twig' %}

    <div class="container lincc_content">

      {% block body %}
          <div>
            <h1>Welcome to LinCC!</h1>
          </div>
      {% endblock %}

    </div><!-- /.container -->

    {% block javascripts %}
      {#% javascripts filter='?uglifyjs'
        '@jquery'
        '@angularjs' %}
        <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% javascripts filter='?uglifyjs'
        'bundles/fosjsrouting/js/router.js'
        'js/fos_js_routes.js' %}
        <script src="{{ asset_url }}"></script>
      {% endjavascripts %#}
    {% endblock %}
  </body>
</html>
